.App {
  text-align: center;
  font-size: 24px;
}

.counter_button {
  width: 26px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 12px;
}

.number_box {
  display: inline-block;
  width: 48px;
  font-size: 34px;
}

.center_box {
  position: absolute;
  left: 48%;
  top: 45%;
}

.count_input {
  margin: 24px;
  padding: 4px;
  font-size: 18px;
}